<!-- <div class="banner">
	<img src="img/banna.png" />
</div> -->

<div class="our-company" id="our_company">
	<div class="container">
		<div class="col-md-18 about-heading">
			<div class="about-divide"></div>
			<p>many heart. one beat</p>
			<h2>our company</h2>
		</div>
		<div class="col-md-9">
			<p>Grand Express Tours Centre Limited (GETCentre) is an indigenous firm that
				is strategically positioned in Lagos to offer customized tour
				and travel packages for business and leisure across the globe.
				The international tourism and travel business according to the
				UNWTO is growing at about 4% annually, providing a sustainable
				business opportunity. GETCentre’s business operations began
				as TTL Tours in 2007 but was formally rebranded and changed
				to Grand Express Tours Centre which was incorporated with the
				Corporate Affairs Commission of Nigeria in July, 2014.
			</p></br>
			<p>GETCentre’s target customers are high net worth individuals,
				telecoms companies, financial institutions, Oil & Gas personnel,
				federal parastatals and other government agencies. These have
				constituted our target market for the last 7 years of operation.
				Our business objectives flow from an intense passion to deliver
				value-added business travel and tour services, which opens up
				infinite possibilities for our clients’ success and satisfaction.
			</p>
		</div>
		<div class="col-md-9">
			<p>The main service GETCentre renders is tagged ‘The Complete Tour
			Package’ and it entails an all-in-one package which comprises of
			flight booking, hotel reservation, unique tours, airport transfers,
			Visa assistance and added bonuses like sky diving, scuba diving,
			bungee jumping, boat cruises etc.</p>
			<p>For well over thirty years, our directors have been successfully
			involved in the business of providing Flight booking, Hotel
			reservation, Airport transfer, Visa application, Tour arrangements,
			etc. We are significantly poised to deliver unforgettable tour and
			travel packages to our growing customer base.</p>
			<p>Our aggressive and strong marketing strategy is our focal point
			to ensure our targets are not only met but surpassed.</p>
		</div>
		<div class="col-md-18 wisdom-words">
			<h2>Most great things start smaller</br>than you expect</h2>
		</div>
	</div>

</div>
<div class="our-vision" id="our_vision">
	<div class="container">
			<div class="col-md-6">
				<h2>our vision</h2>
			</div>
			<div class="col-md-12">
				<p>To be the biggest and best travel and tour company in Africa by providing personlized and outstanding services for our customers</p>
			</div>
	</div>
</div>
<div class="value"  id="our_value">
	<div class="container">
		<div class="col-md-18 about-heading">
			<div class="about-divide"></div>
			<p>Our Core Values</p>
			<h2>value proposition</h2>
			<p>Grand Express Tour Centre aims to become the provider of choice ‘Complete Tour Packages’ to National and International customers. To this end, the business is committed to a set of core values, which portray our standards and ethical approach. These values include:</p>
		</div>
		<div class="col-md-9">
			<div class="value-inner">
				<h2>Professionalism</h2>
				<p>Management will continually educate and provide professional training for our staff and make it mandatory that they adhere to industry-standard service procedures that are globally acceptable in the travel and tour industry.</p>
			</div>
		</div>
		<div class="col-md-9">
			<div class="value-inner">
			<h2>Diligence</h2>
			<p>Our management and members of staff continually imbibe a passionate and innovative attitude by working effectively to deliver unparalleled tour packages to our customers.</p>
			</div>
		</div>
		<div class="col-md-9">
			<div class="value-inner">
				<h2>Honesty</h2>
				<p> We are resolved to “deliver what was promised, when and how it was promised” with regards to our packages. By doing so, we hope to cultivate a reputation as “a reliable choice” in the tourism sector. This in turn will attract referrals and repeat purchases from our customers, and provide sustainable business for GETCentre.com.</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="value-inner">
			<h2>Customer Driven</h2>
			<p>All staff of Grand Express Tour Centre (GETCentre) are trained to work towards building strong relationships with our customers. We value our customers and see them as an extension of our team and will always treat them with kindness and respect.</p>
			</div>
		</div>
	</div>
</div>
