<div class="booke-area">
	<div>
		<div class="col-md-2 socials cage">
			<i class="fa fa-facebook" aria-hidden="true"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<i class="fa fa-linkedin" aria-hidden="true"></i>
			<i class="fa fa-google-plus" aria-hidden="true"></i>
		</div>
		<div class="col-md-2 cage reach">
			<p>9am-6am</p>
			<p>+234 802345789</br>+234 802345789</p>
		</div>
		<div class="col-md-3 cage identity">
			<img src="img/logo.png" />
		</div>
		<div class="col-md-2 cage user-bag">
			<span><img src="img/profile.png" /></span>
			<span><img src="img/cart.png" /></span>
		</div>
		<div class="col-md-3 cage searches">
			<span><img src="img/search.png"> <p>search site</p></span>
		</div>
	</div>	
	<div class="container">
		<nav class="navbar navbar-default">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="col-md-12 navbar-collapse collapse" id="navbar">
				<ul class="linkage">
					<li><a href="#/" class="selected">home</a></li>
					<li><a href="#/about">about</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#/contact">contact</a></li>
					<li><a href="#">sign in</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-md-12 no-padding">
			<!--booking engine -->
			<div class="tab-top">
				<div class="col-md-2 selected">
					<p>flights</p><span><img src="img/flight.png" /></span>
				</div>
				<div class="col-md-2">
					<p>hotels</p><span><img src="img/hotels.png" /></span>
				</div>
				<div class="col-md-2">
					<p>tours</p><span><img src="img/tours.png" /></span>
				</div>
				<div class="col-md-2">
					<p>tranfers</p><span><img src="img/transfer.png" /></span>
				</div>
				<div class="col-md-2">
					<p>visa</p><span><img src="img/visa.png" /></span>
				</div>
				<div class="col-md-2">
					<p>insurance</p><span><img src="img/insurance.png" /></span>
				</div>
			</div>
			<div class="tab-below">
				<div class="">
					<div class="col-md-4 going">
						<label>TO</label>
						<input type="text" placeholder="enter destination" ng-click="extra = 0"/>
					</div>
					<div class="col-md-5">
						<input type="date" class="two" />
						<span class="arrow">&rarr;</span>
						<input type="date" class="two" />
					</div>
					<div class="col-md-3">
						<input type="submit" value="search" class="search-btn" />
					</div>
				</div>
				<div class="" ng-hide="extra = 1">
					<div class="col-md-4 going">
						<label>TO</label>
						<input type="text" placeholder="enter destination"/>
					</div>
					<div class="col-md-5">
						<input type="date" class="two" />
						<span class="arrow">&rarr;</span>
						<input type="date" class="two" />
					</div>
					<div class="col-md-3">
						<input type="submit" value="search" class="search-btn" />
					</div>
				</div>
			</div>	
		</div>	
	</div>
</div>