<div class="banner">
	<img src="img/banna.png" />
</div>

<div class="contact">
	<div class="container">
		<div class="col-md-12 about-heading">
			<div class="about-divide"></div>
			<p>contact us</p>
			<h2>send us an instant email</h2>
		</div>
		<div class="col-md-7 contact-main">
			<form>
			<span><input type="text" placeholder="enter name" /></span>
			<span><input type="text" placeholder="enter email" /></span>
			<span><input type="text" placeholder="enter subject" /></span>
			<span><textarea placeholder="enter message" cols="10"></textarea></span>
			<span><input type="submit" value="send message &rarr;" class="send-btn"></span>
			</form>
		</div>
		<div class="col-md-5 contact-info">
			<div class="col-md-12">
				<h2>Lagos office</h2>
				<p>4, Salvation Road, Off Opebi</br>
				Road, Ikeja, Lagos, Nigeria.</br>
				+2348188009911</p>
			</div>
			<div class="col-md-12">
				<h2>Lagos office</h2>
				<p>4, Salvation Road, Off Opebi</br>
				Road, Ikeja, Lagos, Nigeria.</br>
				+2348188009911</p>
			</div>
			<div class="col-md-12">
				<h2>Call:</h2>
				<p>0700GETCENTRE</p>
				<p>0700438236873</p>
			</div>
			<div class="col-md-12">
				<h2>Email:</h2>
				<p>info@getcenre.com</p>
				<p>contact@getcentre.com</p>
			</div>
		</div>
	</div>
</div>