<div class="alert-deals" >
			<div class="container">
				<div class="col-md-9 col-xs-18">
					<p>subscribe to our newsletter</p>
					<h2>Get alerts on our best deals</h2>
				</div>
				<div class="col-md-9 col-xs-18">
					<div class="main-textbox col-xs-18">
						<form ng-submit="subscribe(subEmail)">
							<input type="email" placeholder="enter email" required ng-model="subEmail" />
							<input type="submit" class="btn newsletter-submit" value="subscribe" ng-disabled="subSubmit" />
						</form>
					</div>
					<div class="col-md-18" ng-bind="sub_message"></div>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer-firststep">
				<div class="container">
					<div class="">
						<div class="col-md-4 foot-one">
							<img src="img/Logo.png" />
							<p>GETCentre</br>4, Salvation Road, </br>Off Opebi, Road,</br>Ikeja, Lagos,</br>Nigeria.</p>

						</div>
						<div class="col-md-3 foot-two">
							<h2>about</h2>
							<ul>
								<li><a href="#/about#our_company">the company</a></li>
								<li><a href="#/about#our_vision">our vision</a></li>
								<li><a href="#/about#our_value">value proposition</a></li>
							</ul>
						</div>
						<div class="col-md-3 foot-three">
							<h2>support</h2>
							<ul>
								<li><a href="#/support#privateP">privacy policy</a></li>
								<li><a href="#/support#paymentT">terms & conditions</a></li>
								<li><a href="#/support#payment_and_pricing">pricing</a></li>
								<li><a href="#/support#partyD">3rd party discloure</a></li>
								<li><a href="#/support#cookieU">cookies usage</a></li>
								<li><a href="#/support#informationP">information protection</a></li>
							</ul>
						</div>
						<div class="col-md-3 foot-four">
							<h2>account</h2>
							<ul>
								<li>your account</li>
								<li>your cart</li>
								<li>log out</li>
							</ul>
						</div>
						<div class="col-md-5 foot-five">
							<h2>partners</h2>
							<span class="first-img"><img src="img/iata.png" /></span>
							<span><img src="img/trip-advisor.png" /></span>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-secondstep">
				<div class="container">
					<div class="payment-logo">
						<div class="col-md-5">
							<h2>Payment Options</h2>
						</div>
						<div class="col-md-3">
							<img src="img/interswitch.png" class="inters" />
						</div>
						<div class="col-md-3">
							<img src="img/Mastercard-logo.png" />
						</div>
						<div class="col-md-3">
							<img src="img/verve.png" class="verve-others" />
						</div>
						<div class="col-md-4">
							<img src="img/bank .png" class="verve-others" />
						</div>
					</div>
				</div>
			</div>

			<div class="footer-copyright">
				<div class="container">
					<div class="">
						<div class="col-md-9"><p>copyright &copy; 2017 getcentre<p></div>
						<div class="col-md-9">
							<div class="socials">
								<span><i class="fa fa-facebook"></i></span>
								<span><i class="fa fa-twitter"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
