<div class="alert-deals">
			<div class="container">
				<div class="col-md-9">
					<p>subscribe to our newsletter</p>
					<h2>Get alerts on our best deals</h2>
				</div>
				<div class="col-md-9">
					<div class="main-textbox">
						<input type="text" placeholder="enter email" />
						<div class="btn newsletter-submit">subscribe</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="footer-firststep">
				<div class="container">
					<div class="">
						<div class="col-md-4 foot-one">
							<img src="img/logo.png" />
							<p>GETCentre</br> 12B Allen Avenue, </br>Ikeja, Lagos,</br>Nigeria.</p>
						</div>
						<div class="col-md-3 foot-two">
							<h2>about</h2>
							<ul>
								<li>the company</li>
								<li>our vision</li>
								<li>value proposition</li>
							</ul>
						</div>
						<div class="col-md-3 foot-three">
							<h2>support</h2>
							<ul>
								<li>privacy policy</li>
								<li>terms & conditions</li>
								<li>pricing</li>
								<li>3rd party discloure</li>
								<li>cookies usage</li>
								<li>information protection</li>
							</ul>
						</div>
						<div class="col-md-3 foot-four">
							<h2>account</h2>
							<ul>
								<li>your account</li>
								<li>your cart</li>
								<li>log out</li>
							</ul>
						</div>
						<div class="col-md-5 foot-five">
							<h2>partners</h2>
							<span class="first-img"><img src="img/iata.png" /></span>
							<span><img src="img/trip-advisor.png" /></span>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-secondstep">
				<div class="container">
					<div class="payment-logo">
						<div class="col-md-5">
							<h2>payment Options</h2>
						</div>
						<div class="col-md-3">
							<img src="img/interswitch.png" class="inters" />
						</div>
						<div class="col-md-3">
							<img src="img/mastercard-logo.png" />
						</div>
						<div class="col-md-3">
							<img src="img/verve.png" class="verve-others" />
						</div>
						<div class="col-md-4">
							<img src="img/bank .png" class="verve-others" />
						</div>
					</div>
				</div>
			</div>

			<div class="footer-copyright">
				<div class="container">
					<div class="">
						<div class="col-md-9"><p>copyright &copy; 2016 getcentre<p></div>
						<div class="col-md-9">
							<div class="socials">
								<span><i class="fa fa-facebook"></i></span>
								<span><i class="fa fa-twitter"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
