<div class="">
		<div class="">

			<div class="banner">
				<img src="img/banna.png" />
			</div>
		</div>



		<div class="all-bg">

			<div class="top-tours">
			<div class="container">
				<div class="col-md-18 head-mate">
					<p>come explore the world</p>
					<h2>top tours</h2>
				</div>
				<div class="col-md-18 no-padding">
					<div class="col-md-9 no-padding first-left">
						<div class="col-md-18 big">
							<div class="black-out"></div>
							<img src="img/bigone.jpg" />
							<div class="informate selected">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide"></div>
								<div ng-hide="up = 0">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore">explore <span>&rarr;</span></div>
										<div class="share-btns">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9 small">
							<img src="img/bigtwo.jpg" />
							<div class="black-out"></div>
							<div class="informate informate-small">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide infomate-divide-small"></div>
								<div ng-hide="up = 1">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore explore-small">explore <span>&rarr;</span></div>
										<div class="share-btns share-btns-small">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9 small">
							<img src="img/bigthree.jpg" />
							<div class="black-out"></div>
							<div class="informate informate-small">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide infomate-divide-small"></div>
								<div ng-hide="up = 1">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore explore-small">explore <span>&rarr;</span></div>
										<div class="share-btns share-btns-small">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9 second-right no-padding">
						<div class="col-md-9">
							<img src="img/bigtwo.jpg" />
							<div class="black-out"></div>
							<div class="informate informate-small">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide infomate-divide-small"></div>
								<div ng-hide="up = 1">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore explore-small">explore <span>&rarr;</span></div>
										<div class="share-btns share-btns-small">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<img src="img/bigone.jpg" />
							<div class="black-out"></div>
							<div class="informate informate-small">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide infomate-divide-small"></div>
								<div ng-hide="up = 1">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore explore-small">explore <span>&rarr;</span></div>
										<div class="share-btns share-btns-small">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-18 big">
							<img src="img/bigthree.jpg" />
							<div class="black-out"></div>
							<div class="informate selected">
								<h2 class="places">Mount Kilomanjaro</h2>
								<p class="country">kenya</p>
								<div class="infomate-divide"></div>
								<div ng-hide="up = 1">
									<p class="price">now from <strong>N235,999</strong></p>
									<div class="">
										<div class="btn explore">explore <span>&rarr;</span></div>
										<div class="share-btns">
											<span><i class="fa fa-facebook"></i></span>
											<span><i class="fa fa-twitter"></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-18 head-mate hm-below">
					<p>you don't run these circle?</p>
					<h2>explore more tours</h2>
					<div class="btn">see more <span>&rarr;</span></div>
				</div>
			</div>
		</div>
		<div class="world-happening">
			<div class="container">
				<div class="col-md-18 head-mate no-top-margin">
					<p>explore our travel stories</p>
					<h2>world happenings</h2>
				</div>
				<div class="col-md-18 no-padding">
					<div class="col-md-18 no-padding first-left">
						<div class="col-md-11">
							<img src="img/postbig.jpg" />
							<div class="informate selected">
								<h2 class="places">Visiting Dubia? Top tips on what to do before you travel</h2>
								<p class="post-date">10 october 2016</p>
								<p>Planning a trip to Dubai? We’ve welcomed scores of visitors to stay since we moved to the U.A.E. in 2000 and here’s the</p>
								<div class="">
									<div class="infomate-divide"></div>
										<div class="btn explore more-words">read more <span>&rarr;</span></div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-18 no-padding post-below">
					<div class="col-md-18 no-padding first-left">
						<div class="col-md-7">
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
						</div>
						<div class="col-md-11">
							<img src="img/postbig.jpg" />
						</div>
					</div>

				</div>

				<div class="col-md-18 blog-extra-btn hm-below">
						<div class="btn">see more <span>&rarr;</span></div>
					</div>

				<div class="col-md-18 head-mate hm-below">
					<p>need support or clarifications?</p>
					<h2>Talk to our Travel & Tour experts</h2>
					<div class="btn leave-msg">leave a message <span>&rarr;</span></div>
				</div>
			</div>
		</div>
		</div>



</div>
