<section class="topview">
	<div class="topShadow"></div>
	<div>
		<div class="banner">
			<img src="img/dubai.jpg" width="100%" />
			<div class="slideContent">
				<div class="col-md-18 slideCategory">
					Valentine Vacation
					<hr style="width:40px; margin:10px 0 0" />
				</div>
				<div class="col-md-18">
					<div class="col-xs-5 slideMover">
						<div class="arrow_border">
							<span class="arrow_right"></span>
						</div>
						<div class="arrow_border">
							<span class="arrow_left"></span>
						</div>
					</div>
					<div class="col-md-13 slideDetails">
						<h1>Atlantis</h1>
						<span class="vacationPlace">Dubai UAE</span>
						<span class="booking-form">
							<div class="btn explore">
								<a href="#">explore</a>
								<span>&rarr;</span>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-18">
		<div class="row top-tours" ng-init="localTours()">
			<div class="container">
				<div class="col-md-18 head-mate">
					<p>come explore the world</p>
					<h2>top tours</h2>
				</div>
				<div class="row">
					<div class="col-xs-18">
						<div class="col-sm-9 no-padding first-left">
							<div ng-repeat="tour in localTs | limitTo:3" ng-class="tourClass(1, $index)" ng-mouseover="mouseTB('in')" ng-mouseleave="mouseTB('out')">
								<div class="black-out"></div>
								<img ng-src="http://www.getcentre.com/admin/packageimages/{{tour.pict}}" />
								<div class="informate informate-small selected">
									<h2 class="places" ng-bind="tour.pname"></h2>
									<p class="country" ng-bind="tour.country"></p>
									<div class="infomate-divide"></div>
									<div class="col-md-18 no-padding" ng-show="hoverState">
										<p class="price col-md-18">now from &#8358;
											<strong ng-bind="tour.cost | number:2"></strong>
										</p>
										<div class="">
											<a href="#/tour/ltour/{{tour.id}}" class="btn explore">explore
												<span>&rarr;</span>
											</a>
											<div class="share-btns">
												<span>
													<i class="fa fa-facebook"></i>
												</span>
												<span>
													<i class="fa fa-twitter"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-9 second-right no-padding">
							<div ng-repeat="tour in localTs.slice(3, 6)" ng-class="tourClass(2, $index)" ng-mouseover="mouseTB('in')" ng-mouseleave="mouseTB('out')">
								<div class="black-out"></div>
								<img ng-src="http://www.getcentre.com/admin/packageimages/{{tour.pict}}" />

								<div class="informate informate-small">
									<h2 class="places" ng-bind="tour.pname"></h2>
									<p class="country" ng-bind="tour.country"></p>
									<div class="infomate-divide infomate-divide-small"></div>
									<div class="col-md-18 no-padding" ng-show="hoverState">
										<p class="price col-md-18">now from &#8358;
											<strong ng-bind="tour.cost | number:2"></strong>
										</p>
										<div class="">
											<a href="#/tour/ltour/{{tour.id}}" class="btn explore">explore
												<span>&rarr;</span>
											</a>
											<div class="share-btns">
												<span>
													<i class="fa fa-facebook"></i>
												</span>
												<span>
													<i class="fa fa-twitter"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="container">
					<div class="col-md-18 head-mate wBg hm-below">
						<p>you don't run these circle?</p>
						<h2>explore more tours</h2>
						<div class="btn">see more
							<span>&rarr;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row world-happening">
			<div class="container">
				<div class="col-md-18 head-mate no-top-margin">
					<p>explore our travel stories</p>
					<h2>world happenings</h2>
				</div>
				<div class="row">
					<div class="col-md-18 first-left">
						<div class="col-xs-18" ng-repeat="blog in blogs | limitTo:3" ng-class="blogClass(1, $index)" ng-mouseover="mouseTB('in')"
						 ng-mouseleave="mouseTB('out')">
							<div class="black-out"></div>
							<div class="blogImg">
								<img src="img/postbig.jpg" blog-img blogcode="{{blog.id}}" class="blgimg" />
							</div>
							<div class="informate selected">
								<h2 class="places" ng-bind="blog.title"></h2>
								<p class="post-date" ng-bind="blog.date"></p>
								<div class="infomate-divide"></div>
								<div class="" ng-show="hoverState">
									<p ng-bind="blog.excerpt"></p>
									<a ng-href="{{blog.permalink}}" target="_blank" class="btn explore more-words">read more
										<span>&rarr;</span>
									</a>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-7">
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
							<div class="col-md-18 post-small">
								<img src="img/postbig.jpg" />
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-18 post-below">
						<div class="col-xs-18 no-padding first-left">
							<div class="col-xs-18" ng-repeat="blog in blogs.slice(3,6)" ng-class="blogClass(2, $index)" ng-mouseover="mouseTB('in')"
							 ng-mouseleave="mouseTB('out')">
								<div class="black-out"></div>
								<div class="blogImg">
									<img src="img/postbig.jpg" blog-img blogcode="{{blog.id}}" class="blgimg" />
								</div>
								<div class="informate selected">
									<h2 class="places" ng-bind="blog.title"></h2>
									<p class="post-date" ng-bind="blog.date"></p>
									<div class="infomate-divide"></div>
									<div class="" ng-show="hoverState">
										<p ng-bind="blog.excerpt"></p>
										<a ng-href="{{blog.permalink}}" target="_blank" class="btn explore more-words">read more
											<span>&rarr;</span>
										</a>
									</div>
								</div>
							</div>

							<!-- <div class="col-md-11">
												<img src="img/postbig.jpg" />
											</div> -->
						</div>
					</div>
				</div>
				<div class="container">
					<div class="col-md-18 blog-extra-btn hm-below">
						<a href="https://blog.getcentre.com" class="btn">see more
							<span>&rarr;</span>
						</a>
					</div>
					<div class="col-md-18 head-mate hm-below">
						<p>need support or clarifications?</p>
						<h2>Talk to our Travel & Tour experts</h2>
						<a href="#/contact" class="btn leave-msg">leave a message
							<span>&rarr;</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>



</section>