@media only screen and (max-width: 420px) {
    /* Small screen, non-retina */
    label{margin-top:0px !important}
    .navbar-default{margin-top:10px;}
    .web_back {
        background-image: url("../img/Logo.png");
        width:100px;
        height:70px;
        float:left;
        margin-left:15px;
     }
     .inputWrapper{
         width:100% !important;
     }
     .sButAlign{
         margin-right: 0;
     }
     .btn{
         width: 100% !important;
         margin-left: 0px !important;
     }
     .tab-below .trip-type div:last-child {
         border-bottom-right-radius: 4px;
         border-bottom-left-radius: 4px;
         border-top-right-radius: 0px;
     }
     .tab-below .trip-type div:first-child {
         border-top-right-radius: 4px;
         border-top-left-radius: 4px;
         border-bottom-left-radius: 0px;
     }
     .addmore{
         width:100% !important;
         border-bottom-left-radius: 4px !important;
     }
     .destNum{
         display: inline-block;
         text-align: center;
         margin: 0px 5px;
         width: 30px;
         padding: 5px;
         background: #555;
         border-radius: 50%;
         color: #fff;
     }
     .desCounter{
         margin:20px 0 -5px
     }
     .guestCla{
         padding:0 !important;
     }
     .linkage{
         margin-bottom: 20px;
     }
     .linkage li{
         width:100% !important;
         margin: 10px ;

         text-align: left;
     }
     .booke-area .cage{
         border-right:none;
        //  border-top:1px solid #b5c7cb;
         height:40px;
         padding:10px;
        //  margin-bottom:20px;
         background:#4fd9dc;
     }
     .socials a{
         font-size:15px;
         margin-right: 10px;
         color:#fff;
     }
     .socials a:last-child{
         margin-right:5px;

     }
     .navbar{
         border:none;
         margin-bottom:20px;
         box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.25)
     }
     .about-heading h2{
         font-size:42px !important;
     }
    .search-header li .ic{clear:both; padding: 0px 8px 0; line-height: 35px; }
    .search-tool form div div label{padding:1em 1em 0em  0em !important; text-align:right;}
    .get_input{margin-bottom:10px !important;}
    .xs_media{padding:0 !important; margin:0;}
    .day_month{font-size:14px !important}
    .sh_l {    font-size: 14px !important; padding: 0.8em 0 0 0 !important;  text-align: center; }
    .s_butt{padding:2em 1em !important}
    .subscribe_item div{text-align:center}
    .foot_col{padding:3em 0em 0em !important}
    .copy_right, .social_media{text-align:center !important; padding:0.5em 0 1em !important;}
    .list_holder{padding: 0 !important}
    // .flightC{text-align:center !important; background:$pcolor6}
    .list_holder{padding:0 !important}
    .tA_C_xs{text-align:center !important}
    .tA_R_xs{text-align:right !important}
    // .flightC .fkl:nth-child(even){background:$pcolor6b !important}
    .t_bl{background:none !important}
    .t_90_xs{-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

    }
    // .pTab .btn-sm {@include border-radius-bottom-left(5px !important)}
    .room_spec{margin-top:-275px}
    .other_room_spec .room_spec{margin-top:0px}
    .other_room_spec div{padding:0px}
    .price_action{margin-top:125px}
    .board_types{padding-top:10px !important; text-align:left;}
    // .img_holder{border:none !important; border-top:$pcolor 4px solid !important;}
    .trbl{padding:0 0 10px !important}
    .org_p{text-align:left !important}
    .fd-tab{padding:0 !important}
  }
@media only screen and (min-width: 321px) and (max-width: 750px) {
    /* Medium screen, non-retina */
    .web_back { background-image: url("../img/Logo.png"); }
    .search-header li .ic{clear:both; padding: 0px 8px 0; line-height: 35px; }
    .search-tool form div div label{padding:1em 1em 0em  0em !important; text-align:right;}
    .get_input{margin-bottom:10px !important;}
    .xs_media{padding:0 !important; margin:0;}
    .day_month{font-size:14px !important}
    .sh_l {    font-size: 14px !important; padding: 0.8em 0 0 0 !important;  text-align: center; }
    .s_butt{padding:2em 1em !important}
    .subscribe_item div{text-align:center}
    .foot_col{padding:3em 0em 0em !important;}
    // .flightC{text-align:center !important; background:$pcolor6}
    .list_holder{padding:0 !important}
    .tA_C_xs{text-align:center !important}
    .tA_R_xs{text-align:right !important}
    // .flightC .fkl:nth-child(odd){background:$pcolor6b !important}
    .t_bl{background:none !important}
    .t_90_xs{-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    }
    // .pTab .btn-sm {@include border-radius-bottom-left(5px !important)}
     .room_spec{margin-top:-275px}
    .other_room_spec .room_spec{margin-top:0px}

    .price_action{margin-top:125px}
    .board_types{padding-top:10px !important; text-align:left;}
    // .img_holder{border:none !important; border-top:$pcolor 4px solid !important;}
    .fd-tab{padding:0 !important}
}

@media
only screen and (min-width: 750px) and (max-width: 1000px) {
    /* Large screen, retina */
    .web_back { background-image: url("../img/Logo.png"); }
    .flightC{text-align:center !important}
}

@media
only screen and (min-width: 1000px) and (max-width: 1370px) {
    /* Large screen, retina */
    .web_back { background-image: url("../img/Logo.png"); }
}
@media
only screen and (min-width: 1370px){
    /* Large screen, retina */
    .web_back { background-image: url("../img/Logo.png"); }
}
