<div class="col-xs-18 modal-bd">
    <div class="col-xs-18 nopadding" >
        <div class="col-xs-18 headers modal-hd"> An Error Occured</div>
        <div class="col-xs-18 modal_frame">
            <div class="col-xs-18 nopadding contact_cancel">
                <h3>We are Unable to book your flight</h3>
				<div class="col-xs-18">
					<h4 ng-bind="errorOb.ERRORMSG"></h4>
				</div>
				<div class="col-xs-18">
                    <span>Old Price: </span>
                    <span class="curr_book" ng-bind-html="convS"></span>
				    <span class="" ng-bind="errorOb.request.forminfo.Expected_price.amount.$|number:2 "></span>

				</div>
				<div class="col-xs-18">
                    <span>New Price:</span>
                    <span class="curr_book" ng-bind-html="convS"></span>
                    <span class="" ng-bind="errorOb.ERRORFIELDS.fields[0].msg.$|number:2 "></span>
				</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn-sm btn get_button_primary" ng-click="ok()" style="margin:15px 0 0">Accept New Price</button>
        <button class="btn-sm btn get_button_reset" ng-click="cancel()" style="margin:15px 0 0">Cancel</button>
    </div>
</div>
