<div class="col-xs-18" ng-if="defaultSearch.module!='Visa' && defaultSearch.module!='Insurance' && defaultSearch.module!='Transfers'">
	<div class="col-xs-18 hidden-xs trip-type booking-form" ng-show="searchInit" ng-if="defaultSearch.moduleType!='regular'">
		<div class="btn" ng-click="moduleChangeType(type)" ng-repeat="type in searchObject.typeBreak" ng-class="typeClasses( type.value, defaultSearch.moduleType)">
			<p ng-bind="type.name"></p>
		</div>
	</div>
	<div class="col-xs-18 visible-xs trip-type booking-form" ng-show="searchInit" ng-if="defaultSearch.moduleType!='regular'">
		<div class="col-xs-18" ng-click="moduleChangeType(type)" ng-repeat="type in searchObject.typeBreak" ng-class="typeClasses( type.value, defaultSearch.moduleType)">
			<p ng-bind="type.name"></p>
		</div>
	</div>
	<div ng-repeat="input in defaultSearch.moduleCurrType" ng-if="input!=''" ng-class="formPosition(input)">
		<div class="col-xs-18 no-padding going booking-form" ng-if="input.type=='place' && !(input | isArray) && (input.name=='From' || input.name=='Destination' || searchInit)">
			<label class="" ng-bind="input.name"></label>
			<div class="clearfix visible-xs-block"></div>
			<div class="inputWrapper">
				<input type="text" class="col-xs-18 placeSearch" placeholder="enter destination" ng-init="setlocators()" ng-model="input.value.name"
				 ng-click="searchRevel()" name={{$index}} />
				<span ng-if="input.name=='From'" class="iconFlightFrom"></span>
				<span ng-if="input.name=='To'" class="iconFlightTo"></span>
			</div>
		</div>
		<div class="col-xs-18 booking-form bookingFormInput no-padding" ng-init="setDates(input)" ng-if="input.type=='date' && !(input | isArray)">
			<input type="text" ng-if="input.subType=='fromdate'" data="dateFrom_1" name="{{$index}}|" class="fromdate datePickerDummy"
			 date-from />
			<input type="text" ng-if="input.subType=='todate'" data="dateto_1" name="{{$index}}|" class="todate datePickerDummy" date-to
			/>
			<div class="dateContainer" ng-if="input.subType=='fromdate'" name="f">
				<div class="dateBreaker rborder" ng-click="setFromDate(2)">
					<span ng-bind="input.value.day"></span>
					<span ng-bind="input.value.month"></span>
					<span ng-bind="input.value.year"></span>
				</div>
				<div class="iconContainer" ng-click="setFromDate(2)">
					<span class="iconCalendar"></span>
				</div>
			</div>
			<div class="dateContainer" ng-if="input.subType=='todate'" name="f">
				<div class="dateBreaker rborder" ng-click="setToDate(2)">
					<span ng-bind="input.value.day"></span>
					<span ng-bind="input.value.month"></span>
					<span ng-bind="input.value.year"></span>
				</div>
				<div class="iconContainer" ng-click="setToDate(2)">
					<span class="iconCalendar"></span>
				</div>
			</div>
		</div>
		<div class="col-xs-18  no-padding" ng-if="input.type=='occupancy' && !(input | isArray) && searchInit">
			<div class="col-xs-18 no-padding booking-form col-md-9" ng-repeat="guest in input.subtypes">
				<div class="col-xs-18 people-side">
					<div class="col-xs-6 increaser">
						<p class="plus" ng-click="addOccupancy(guest)">+</p>
						<p class="plus" ng-click="takeOccupancy(guest)">-</p>
					</div>
					<div class="col-xs-5 anum">
						<p class="apush" ng-bind="guest.value | custNo"></p>
					</div>
					<div class="col-xs-7">
						<p class="apush" ng-bind="guest.name"></p>
					</div>

				</div>
				<div class="col-xs-18 nopadding" ng-if="guest.name=='Child' && guest.ages.length > 0">
					<div class="col-xs-18 nopadding" ng-repeat="childAge in guest.ages">
						<span class="col-xs-18 nopadding child_select">
							<label>Child {{$index+1}}</label>
						</span>
						<div class="get_input col-xs-18">
							<input type="text" ng-model="childAge.value" class="form-control trans_input_sm input-sm" placeholder="Date of Birth" birth-dchild>
						</div>
						<!-- <select class="" ng-model="childAge.value" required="required" ng-options="option.value as option.name for option in childAgeOptions" ></select> -->
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-18 booking-form no-padding" ng-if="input.type=='room' && !(input | isArray) && searchInit">
			<div class="col-xs-18 people-side">
				<div class="col-xs-6 increaser">
					<p class="plus" ng-click="addRoom(input)">+</p>
					<p class="plus" ng-click="takeRoom(input)">-</p>
				</div>
				<div class="col-xs-6 anum">
					<p class="apush" ng-bind="input.value | custNo"></p>
				</div>
				<div class="col-xs-6">
					<p class="apush" ng-bind="input.name">Rooms</p>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-2 arrow booking-form no-padding"  ng-if=" input.type=='date' && input.subType=='todate' && !(input | isArray)">&rarr;</div> -->


		<div ng-if="input | isArray" class="col-xs-18 no-padding">
			<div ng-repeat="inp in input track by $index" class="col-xs-18 no-padding">
				<div ng-if="defaultSearch.module=='Flight'" class="clearfix visible-xs-block desCounter">
					<span>Destination </span>
					<span ng-bind="$index+1" class="destNum"></span>
				</div>
				<div ng-repeat="form in inp track by $index" ng-class="formPosition(form, input)">
					<div class="col-xs-18 no-padding going booking-form" ng-if="form.type=='place'" ng-show="form.name=='From' || searchInit">
						<label ng-bind="form.name"></label>
						<div class="inputWrapper">
							<input type="text" class="placeSearch" placeholder="enter destination" ng-init="setlocators()" ng-model="form.value.name"
							 ng-click="searchRevel()" name="{{$parent.$parent.$index}}|{{$index}}" />
						</div>
					</div>
					<div class="col-xs-18 bookingFormInput booking-form no-padding " ng-init="setDates(form)" ng-if="form.type=='date'">
						<input type="text" ng-if="form.subType=='fromdate'" data="dat_3" name="{{$parent.$parent.$parent.$index}}" class="fromdate datePickerDummy"
						 date-from />
						<div class="dateContainer" ng-if="form.subType=='fromdate'">
							<div class="dateBreaker rborder" ng-click="setFromDate($parent.$parent.$parent.$index)">
								<span ng-bind="form.value.day"></span>
								<span ng-bind="form.value.month"></span>
								<span ng-bind="form.value.year"></span>
							</div>
							<div class="iconContainer" ng-click="setFromDate($parent.$parent.$parent.$index)">
								<span class="iconCalendar"></span>
							</div>
						</div>
					</div>
					<div class="col-xs-18 booking-form no-padding" ng-if="form.type=='guest' && searchInit ">
						<div ng-if="($index+1)%2==1" class="clearfix visible-xs-block desCounter">
							<span>Room </span>
							<span ng-bind="$parent.$parent.$parent.$index+1" class="destNum"></span>
						</div>
						<div class="col-xs-18 people-side">
							<div class="col-xs-6 increaser">
								<p class="plus" ng-click="addOccupancy(form)">+</p>
								<p class="plus" ng-click="takeOccupancy(form)">-</p>
							</div>
							<div class="col-xs-6 anum">
								<p class="apush" ng-bind="form.value | custNo"></p>
							</div>
							<div class="col-xs-6">
								<p class="apush" ng-bind="form.name"></p>
							</div>
						</div>
						<div class="col-xs-18 nopadding" ng-if="form.name=='Child' && form.ages.length > 0">
							<div class="col-xs-18 nopadding" ng-repeat="childAge in form.ages">
								<span class="col-xs-18 nopadding child_select">
									<label>Child {{$index+1}}</label>
								</span>
								<div class="get_input col-xs-18">
									<input type="text" ng-model="childAge.value" class="form-control trans_input_sm input-sm" placeholder="Date of Birth" birth-dchild>
								</div>
								<!-- <select class="" ng-model="childAge.value" required="required" ng-options="option.value as option.name for option in childAgeOptions" ></select> -->
							</div>
						</div>
					</div>
				</div>
				<div ng-if="$index!=0 && defaultSearch.module=='Flights'" class="remove" ng-click="removeDestination($index, input)">
					<span class="glyphicon glyphicon-remove-sign"></span> Remove </div>
			</div>
			<div class="col-xs-18 booking-form trip-type" ng-if="defaultSearch.module=='Flights'" ng-click="addMoreDes(input)">
				<div class="addmore">
					<span class="plus">+</span>Add more destination</div>
			</div>
		</div>
	</div>
	<div ng-repeat="input in defaultSearch.others" class="col-md-6 col-xs-18 no-padding booking-form" ng-show="searchInit">
		<div class="col-xs-18 no-padding" ng-if="input.type=='select'" name="{{input.name}}">
			<label ng-bind="input.name" class="col-md-8 col-xs-18 no-padding"></label>
			<div class="bookingFormInput col-xs-18 col-md-9">
				<select class="" ng-model="input.value" required="required" ng-options="option.value as option.name for option in input.options"
				 ng-change="class_change(input.value)"></select>
				<span class="ic_sm_xx col-xs-3 hidden-xs"></span>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-xs-18 no-padding pull-right booking-form sButAlign">
		<input type="submit" ng-disabled="disabled" value="search" ng-click="setSearch()" class="search-btn" />
		<input type="button" ng-disabled="disabled" value="Cancel" ng-click="cancel()" class="get_button_reset visible-xs" />
	</div>
</div>