
<div class="col-xs-18 modal-bd">	
    <div class="col-xs-18 nopadding" >
        <div class="col-xs-18 headers modal-hd"> <span class="icon-user-plus"></span>&nbsp; Reserve this Package</div>
        <div class="col-xs-18 modal_frame">
            <div class="col-xs-18 nopadding">
                <div class="clear-fix col-xs-18 get_pad each_form">
                    <input type="text" class="form-control input-sm get_input" ng-model="res.fname" placeholder="Your Fullname">
                </div>
                <div class="clear-fix col-xs-18 get_pad each_form"> 
                    <input type="text" class="form-control input-sm get_input" ng-model="res.email" placeholder="Your Email Address">
                </div>
                <div class="clear-fix col-xs-18 get_pad each_form"> 
                    <input type="text" class="form-control input-sm get_input" ng-model="res.phone" placeholder="Your Phone Number">
                </div>
                <span ng-bind="res.info"></span>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">    	
        <button class="btn-sm btn get_button_reset" ng-click="cancel()" style="margin:15px 0 0">Cancel</button>
        <button class="btn-sm btn get_button_primary" ng-click="resP()" style="margin:15px 0 0">Reserve</button>
    </div>
</div>