<link rel="stylesheet" href="../css/index.css" type="text/css" />
<div class="col-md-12">
	<div class="col-md-12" style="color:#555; padding:0.5em; 0em">
        <div class="col-xs-12" style="padding:1em 0;">
        	<div class="col-md-8 nopadding">
            	<div class="col-md-12"><label>Your Name :</label>{{user.Name}}</div>
                <div class="col-md-12"><label>Your Passport Number :</label>{{user.Pnumber}}</div>
                <div class="col-md-12"><label>Ticket Number :</label>{{user.Tnumber}}</div>
            </div>
            <div class="col-md-4 nopadding" style=" font-size:32px; font-weight:bold; text-align: right">
            	YOUR VOUCHER
            </div>
        </div>
        <div class="col-xs-12 nopadding " style="border:#555 solid thin;">
        	<div class="col-xs-12 nopadding" style="border-bottom:#555 solid thin">
            	<div class="col-md-9" style=" padding:0.5em 0em; border-right:#555 thin solid">
                	<div class="col-md-5">
                    	<label>Murtalla Mohammed Airport(LOS)</label>
                        <span class="col-md-12 nopadding" style="font-size:24px; font-weight:bold">LAGOS</span>
                    </div>
                    <div class="col-md-2">
                    	
                    </div>
                    <div class="col-md-5">
                    	<label>Shipol (AMS)</label>
                        <span class="col-md-12 nopadding" style="font-size:24px; font-weight:bold">AMSTERDAN</span>
                    </div>
                </div>
                <div class="col-md-3" style="padding:0.5em 1em; text-align:right; text-align:right">
                	<label>Flight</label>
                	<span class="col-md-12 nopadding" style="font-size:24px; font-weight:bold">{{Booking_number}}</span>
                </div>
            </div>
            <div class="col-md-12">
            	<div class="col-md-6" style=" padding:0.5em 0em; border-right:#555 thin solid">
                	<div class="col-md-4" style="padding:0.5em 0">
                    	<label>Date</label>
                    	<div class="col-md-18">16th July 2016</div>
                    </div>
                    <div class="col-md-4" style="padding:0.5em 0">
                    	<label>Boarding</label>
                    	<div class="col-md-18">08:30pm</div>
                    </div>
                    <div class="col-md-4" style="padding:0.5em 0">
                    	<label>Departure</label>
                    	<div class="col-md-18">10:30pm</div>
                    </div>
                </div>
                <div class="col-md-6">
                	<div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="col-xs-12" style="padding:0.5em 1em; border-top:#555 thin solid">Operated By </div>
        </div>
    </div>

</div>